body {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  font-family: $font__main;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;

  @media screen and (max-width: $screen__M) {
    background-position: top left;
    background-size: cover;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  width: $screen__L;
  

  @media screen and (max-width: $screen__L) {
    width: $screen__M;
  }
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btn {
  align-items: center;
  background-color: $color__white;
  border-radius: rem(16px);
  color: $color__purple-dark;
  display: flex;
  font-size: rem(32px);
  font-weight: 800;
  justify-content: center;
  padding: rem(8px) rem(24px);
  text-decoration: none;

  @media screen and (max-width: $screen__M) {
   font-size: rem(24px);
   padding: rem(8px) rem(16px);
  }
}