.home {
  &__container {
    flex-direction: row;
    justify-content: center;

    @media screen and (max-width: $screen__L) {
      flex-direction: column-reverse;
    }
  }

  &__page {
    margin-top: -106vh;
    position: relative;
    z-index: 2;
    
    @media screen and (max-width: $screen__M) {
      margin-top: -90vh;
    }

    h2 {
      display: none;
    }

    &-content {
      color: $color__white;

      p {
        font-size: rem(82px);
        line-height: 1;
      }

      strong, b {
        color: $color__cyan;
        font-size: rem(64px);
      }

      @media screen and (max-width: $screen__M) {
        font-size: rem(42px);
        strong, b {
          font-size: rem(36px);
        }
        p {
          margin: 0;
        }
      }
    }

    @media screen and (max-width: $screen__M) {
      &-left {
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $screen__M) {
          flex-direction: column;
        }
      }

      &-link {
        margin: 0 rem(20px);

        @media screen and (max-width: $screen__M) {
          margin: rem(40px) rem(20px);
        }
      }
    }
  }
}