/*
Small (smaller than 640px)
Medium (641px to 1007px)
Large (1008px and larger)
SCREEN SIZES
*/

$screen__XL: 1920px;
$screen__L: 1366px;
$screen__M: 768px;
$screen__S: 414px;

$color__cyan: #1ce6ea;
$color__purple-dark: #171b3f;
$color__white: white;

$font__main: 'Maven Pro', sans-serif;



